.row-fluid
  .span4 ID: #{job.job_id}
  .span4 Name: #{job.job_name}
  .span4 User: #{job.job_owner}
.row-fluid
  .span4 Queue: #{job.queue}
  .span4 Server: #{job.server}
  .span4 State: #{job.job_state}
.row-fluid
  .span4 SubmitHost: #{job.submit_host}
  .span4 Server: #{job.server}
  .span4 State: #{job.job_state}


