


%table{class: "table table-striped table-bordered"}
  %tbody
    - jobs.each do |job|
      %tr{job_line_color(job)}
        %td
          %a{:href=>"qstat/#{job.job_id.split(".").first}"}
            = job.job_id.split(".").first
        %td= job.job_name
        %td= job.node
        %td= "#{job.memory} mb"
        %td= "#{job.time} sec."
        %td= job.queue
        %td= job.job_state





